a {
    text-decoration: none;
}
a:link {
    color: #299949;
}
a:visited {
    color: #299949;
}
a:hover {
    color: #299949;
}
a:active {
    color: #dd4993;
}
body {
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/754/917/296/manga-oyasumi-punpun-monochrome-punpun-onodera-wallpaper-preview.jpg);
    background-size: 100%;
    background-attachment: fixed;
}
